.search {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.search input {
    width: 40%;
    background-color: #EEEEEE;
    border-radius: 10px;
    padding-left: 15px;;
    margin-right: 30px;
    height: 35px;
    border: none;
}

.search .buttonWaits {
    font-weight: normal;
    background-color: grey;
    color: white;
    width: 60px;
    height: 35px;
    border-radius: 10px;
    border: none;
    transition: 1s
}

.search .buttonSearchs {
    font-weight: bold;
    background-color: #33658A;
    color: white;
    width: 60px;
    height: 35px;
    border-radius: 10px;
    border: none;
    transition: 1s;
}

.search .buttonSearchs:hover {
    background-color: #2f4858;
    font-size: 102%;
    transition: 0.5s;
    cursor: pointer;
}

.categories {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories h3 {
    margin-right: 30px;
}

.categories .options button {
    margin-right: 20px;
    width: auto;
    padding: 10px 10px;
    height: 35px;
    border-radius: 10px;
    border: none;
}

.categories .options button:hover {
    cursor: pointer;
}

.options .active {
    background-color: green;
    color: white;
    font-weight: bold;
}

